@import "fonts.scss";

.name-and-skills {
    width: 20%;

    transition: all 0.3s ease;
    .skills-title {
        text-align: center;
        font-size: 2.5em;
        margin-top: 5px;
        margin-bottom: 0;
        font-family: $header-font;
        font-weight: bold;
    }
    @media(max-width: 500px) {
        transform: translateX(-205%);
        transition: all 0.3s ease-out;
        z-index: 200;
        position: fixed;
        display: none;
        
    }
}

.name-and-skills-open {
    transition: all 0.3s ease;
    border-right: 3px solid #333;
    z-index: 300;
    .skills-title {
        text-align: center;
        font-size: 2.5em;
        margin-top: 5px;
        margin-bottom: 0;
        font-family: $header-font;
        font-weight: bold;
    }
    @media(max-width: 500px) {
        transition: all 0.3s ease-out;
        
        background-color: white;
        height: 100%;

        

        
    }
}