@import 'fonts.scss';

.project {
    text-align: center;
    margin: 20px auto;
    width: 75%;
    border-radius: 8px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 3px 6px #111;
    .project-img {
        width: 500px;
    }
    .project-title {
        font-size: 1.7em;
        font-family: $header-font;
        font-weight: bold;
    }
    .tech-stack {
        font-size: 1.6em;
        font-family: $skill-font;
    };
    .project-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .project-desc {
            font-size: 1.4em;
            font-family: $sub-title-font;
            text-align: center;
        }
    }
    .proj-buttons {
        a {
            margin: 0 10px;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
    @media(max-width: 800px) {
        width: 95%;
    }
    @media(max-width: 500px) {
        width: 95%;
        .project-img {
            width: 100%;
        }
        .proj-buttons {
            display: flex;
            flex-direction: column;
        }
    }
}